.Hero {
  margin-top: -5rem;
  padding-top: 5rem;
  height: 100vh;
  width: 100vw;
  position: relative;
  z-index: 100;
}

.HeroCenter {
  height: 100%;
  display: grid;
  align-items: center;
  z-index: 2;
}

.HeroInfo {
  /* background: hsl(186, 100%, 94%); */
  background: transparent;
}

.HeroLeft {
  animation: showUp 5s ease-in 0.3s forwards;
}

@media screen and (min-width: 800px) {
  .TypeWrap {
    font-size: 4rem;
    line-height: 1;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
  }
}

.HeroImg {
  display: none;
}

.AbtBtn {
  margin-top: 1rem;
  animation: slideUp 4.5s ease-in-out 0.3s forwards;
}

@keyframes slideUp {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes showUp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

h3 {
  color: hsl(210, 22%, 49%);
  animation: slideUp 4s ease-in-out 0.3s forwards;
  margin: 10px 0;
}
.HeroIcons {
  justify-items: flex-start;
}
.Hero .btn {
  margin-top: 1.25rem;
}

@media screen and (min-width: 992px) {
  .HeroCenter {
    grid-template-columns: repeat(12, 1fr);
  }

  .HeroInfo {
    grid-row: 1/1;
    grid-column: 1 / span 8;
  }
  .HeroImg {
    display: block;
    grid-row: 1/1;
    grid-column: 6/-1;
  }
}
@media screen and (min-width: 1170px) {
  .Hero h3 {
    line-height: 1;
  }

  .HeroInfo {
    grid-column: 1 / span 8;
  }
}

@media screen and (max-width: 562px) {
  .HeroInfo h1 span {
    color: #e74c3c;
  }
}
@media screen and (min-width: 563px) {
  .HeroInfo .HeroLeft {
    margin-left: 0px;
  }
}
